

@media screen and (min-width:768px) and (max-width:1024px) {
   
    .imghome{
        background-image: url(https://especiais.g1.globo.com/app-g1/share-app-g1.jpg);
        
        background-position: center center;
        background-size: cover;
        width: 98.3vw;
        min-width:98.3vw ;
        max-width: 100vw;
        height: 250px;
    
    }

    .imghome h1{
    
        color: white;
        justify-content: end;
        
        margin-left: 100px;
        height: 60%;
        padding-top: 12%;
        width: 80%;
        font-size: 1.8em;
       
       
      
    }
}